<template name="about">
  <div class="template-about">
  <section id="top" name="top"></section>
    <div class="jumbotron vertical-center">
      <div class="container">
      <h2>About</h2>
      
      	The currency of awesome is allocated in Fives. It does not depreciate, so give them out freely. High or low, it doesn't matter - the value remains the same.
      
        <br>
        <br>
      	Connect with a real person and give a virtual Five.
        <br>
      </div>
    </div>
  </div>
</template>