<template name="slap">
  <div class="template-slap">
  <div class="jumbotron vertical-center">
      <div class="container">
        {{#if oneSlap}}
          {{#with oneSlap}}
              <h2 class="text-center">{{slapGiver}} Gave Five To {{slapReceiver}}</h2>
          {{/with}}
        {{else}}
          <h2 class="text-center">Invalid Five! OMGWTFLOL!</h2>
        {{/if}}
        
        
        <!--<ul class="list-group">
        <li class="list-group-item">creator: {{slap.creatorId}} direction: {{#if slap.direction}}uptop{{else}}downlow{{/if}} <span class="label label-default">{{ slap.slapperId }}</span></li>
        </ul>-->
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
      </div>
      
      <div class="row sections">
          <div class="col-xs-12">
            <img class="center-block img-rounded" src="{{fiveGifs}}">
          </div>
      </div>
      <br>
      <p class="text-center"><a class="btn btn-primary btn-lg continue" href="#" role="button">Give More Fives</a></p>
      <p>
      <div class="center">
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=I just got a virtual five!&hashtags=gimme5,highfive,gimmefive&url=http://www.gimme5.io" target="1">
              Share on Twitter
        </a>
        </div>
      </p>
    </div>
  </div>
</template>
