<template name="slap">
  <div class="template-slap">
  <div class="jumbotron vertical-center">
      <div class="container">
        <h1 class="text-center">You Gave Five!</h1>
        
        <!--<ul class="list-group">
        <li class="list-group-item">creator: {{slap.creatorId}} direction: {{#if slap.direction}}uptop{{else}}downlow{{/if}} <span class="label label-default">{{ slap.slapperId }}</span></li>
        </ul>-->
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
      </div>
      
      <img class="center-block img-rounded" src="{{fiveGifs}}">
      <br>
      <p class="text-center"><a class="btn btn-primary btn-lg continue" href="#" role="button">Give More Fives</a></p>
      
      {{#if oneSlap}}
        {{#with oneSlap}}
            {{slapperId}} gave five to {{creatorId}}
        {{/with}}
      {{else}}
        Invalid five
      {{/if}}

    </div>
  </div>
</template>
