<template name="stats">
  <div class="template-stats">
  <section id="top" name="top"></section>
    <div class="jumbotron vertical-center">
      <div class="container">
        <div class="row sections">
          
          <div class="col-md-12 col-xs-12">
            <h2 class="text-center">Current Five Status</h2>
          </div>
          <div class="col-md-6 col-xs-12">
            <p class="text-center">Global high-fives given: {{totalHigh}}</p>
          </div>
          <div class="col-md-6 col-xs-12">
            <p class="text-center">Global low-fives given: {{totalLow}}</p>
          </div>
           <div class="col-md-6 col-xs-12">
            <p class="text-center">People left hanging: {{totalSlow}}</p>
          </div>
          <div class="col-md-6 col-xs-12">
            <p class="text-center">People waiting for fives: {{totalWaiting}}</p>
          </div>
          
          <div class="col-md-12 col-xs-12">
            <h2 class="text-center">My Five Status</h2>
          </div>
          <div class="col-md-6 col-xs-12">
            <p class="text-center">My fives given: {{myFives}}</p>
          </div>
          <div class="col-md-6 col-xs-12">
            <p class="text-center">My fives received: {{myFivers}}</p>
          </div>
        
          
          <div class="col-md-12 col-xs-12">
            <h2 class="text-center">Five Leaders</h2>
          </div>
          <div class="col-md-12 col-xs-12">
            <p class="text-center">Most Fives Received:</p>
          </div>
          {{#each leaderReceive}}
            <div class="col-md-6 col-xs-6">
              <p class="text-center"> {{getUserName}}</p>
            </div>
            <div class="col-md-6 col-xs-6">
              <p class="text-center"> {{slaps}}</p>
            </div>
          {{/each}}
          

          <div class="col-md-12 col-xs-12">
            <p class="text-center">Most Fives Given:</p>
          </div>
          {{#each leaderGive}}
            <div class="col-md-6 col-xs-6">
              <p class="text-center"> {{getUserName}}</p>
            </div>
            <div class="col-md-6 col-xs-6">
              <p class="text-center"> {{slaps}}</p>
            </div>
          {{/each}}

          <div class="col-md-12 col-xs-12">
            <p class="text-center">Most Fives Left Hanging:</p>
          </div>
          {{#each leaderHang}}
            <div class="col-md-6 col-xs-6">
              <p class="text-center"> {{getUserName}}</p>
            </div>
            <div class="col-md-6 col-xs-6">
              <p class="text-center"> {{slaps}}</p>
            </div>
          {{/each}}
          
          <div class="col-md-12 col-xs-12">
            <br>
            <br>
            <br>
            <br>
            My ID: {{myId}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>